* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #bed1fd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 40rem;
    width: 30rem;
    background-color: white;
    position: relative;
}

.face {
    font-size: 1.6rem;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.face1 {
    padding: 0.2rem;
    text-align: center;
    color: #073668;
    transition: all 0.2s;
}

.face1 h2 {
    text-transform: uppercase;
    padding-top: 8rem;
}

.face1 p{
    padding-top: 3rem;
}

.face1 a {
    text-decoration: none;
    margin-top: 3rem;
    padding: 0.5rem 1rem;
    color: #073668;
    border: 0.2rem #073668 solid;
    font-weight: bold;
    transition: 0.3s;
}

 .face2 {
    background-color: #073668;
}


.face2 h2 {
    color: white;
    font-size: 12rem;
    transition: 0.5s;
}


.card:hover .face2 {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    top: 5rem;
    left: 38%;
    background-color: #fff;
    border: 0.2rem #073668 solid;
}


.card:hover .face2 h2{
    font-size: 3rem;
    color: #073668;
}